/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    html, body {
        overflow-x: hidden;
      }
      .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
      }
      .mobile-bottom-fix {
        margin-bottom: 30px;
      }
      .mobile-bottom-fix-big {
        margin-bottom: 60px;
      }
   
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {

}
    
/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
   
}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (min-width: 576px) and (max-width: 767px) {
   

}

@media (max-width: 575px) {
   
}

@media screen  and (max-width: 480px) {

   
           
}
